.section {
  &--subscribe {
    background: url("../images/subscribe.png") no-repeat;
    padding: 170px 0px 197px 0px;
    background-size: cover;
  }
}

.title {
  font-size: 40px;
  font-weight: bold;

  &--dark {
    color: black;
  }
}

.subtitle {
  width: 50%;

}

.subscribe {
  &__form {
    width: 50%;
    height: 50px;
    margin: 15px 60px 15px 0;
    padding: 0px 233px -1px 15px;
    border-color: black;
  }

  &__button {
    padding: 14px 25px;
    border: none;
    background-color: rgb(63, 148, 63);
    color: white;
  }
}
